<div data-v-7dd1adab="" data-v-40958d9a="" class="Wallet__C">
    <div data-v-7dd1adab="" class="Wallet__C-balance">
       <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
          <div data-v-7dd1adab="" id="balance_amount">Rp Loading...</div>
       </div>
       <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
          <div data-v-7dd1adab="">Wallet balance</div>
       </div>
       <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
        <div data-v-7dd1adab="" onclick="location.href='/wallet/recharge'" class="recharge">Recharge</div>
          <div data-v-7dd1adab="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
          
       </div>
    </div>
 </div>
 
 
 
 <div data-v-ac90c264="" class="noticeBar__container"><svg class="svg-icon icon-noticeBarSpeaker">
       <use xlink:href="#icon-noticeBarSpeaker"></use>
    </svg>
    <div class="noticeBar__container-body">
       <div class="noticeBar__container-body-text">Notice: To visit our official website, be sure to use the link below, https://cloudyscape.net/ Please
        remember! Make sure not to provide personal data and personal transactions in any form and for any
        reason to other parties on behalf of CLOUDSCAPE. Our side does not make private chats or calls to
        all
        members. Please inform all Referrals/other Members about this to avoid fraud. Thank you for your
        attention and cooperation.</div>
    </div><button class="hotIcon">Detail</button>
 </div>