<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 39px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>WinCash</title>
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        .mian[data-v-7aa0f84a] {
            background-color: #10498349
        }

        .mian .bank[data-v-7aa0f84a] {
            background: #7d7c8815;
            padding: .4rem;
            height: 100vh;
        }

        .mian .bank .box[data-v-7aa0f84a] {
            
            color:rgb(216, 226, 231);
            border-radius: .26667rem;
            padding-top: .4rem
        }

        .mian .bank .box .item[data-v-7aa0f84a] {
            margin-bottom: .26667rem
        }

        .mian .bank .box .item .lab[data-v-7aa0f84a] {
            font-size: .4rem;
            margin-bottom: .26667rem
        }

        .mian .bank .box .item .input .ipt[data-v-7aa0f84a] {
            width: 100%;
            background: #323A7C;
            border: 0px solid;
            margin-bottom: 0.4rem;
            padding-left: 0.3rem;
            height: .93333rem;
            line-height: .93333rem;
            border-radius: .13333rem;
            
        }

        .mian .bank .bank-btn .btn[data-v-7aa0f84a] {
            width: 100%;
            height: 0.93333rem;
            color: #ffffff;
            font-size: .4rem;
            font-weight: 700;
            letter-spacing: .01333rem;
            border: none;
            border-radius: 1.06667rem;
            
            background:rgb(5, 14, 77)
        }

        .addBankCard__container-content-top span[data-v-c4c584b4] {
    color: #4dd8ef;
    font-weight: 500;
    font-size: .32rem;

}

.addBankCard__container-content-top[data-v-c4c584b4] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: .98667rem;
    background: #090f29bb;
    border-radius: .8rem;
    padding: .13333rem .53333rem;
}

.icon[data-v-c4c584b4] {
    width: .64rem;
    height: .64rem;
    margin-right: .16rem;
}

.navbar[data-v-106b99c8] {
    background: #aa0c0c28 !important;
    
}

    </style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-7aa0f84a="" class="mian">
            <div data-v-106b99c8="" data-v-7aa0f84a="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet/withdrawal'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Add a bank account number</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>


            <div data-v-7aa0f84a="" class="bank">
            <div data-v-c4c584b4="" class="addBankCard__container-content-top">
                <i data-v-c4c584b4="" class="van-badge__wrapper van-icon van-icon-warning-o"
                style="color: rgb(77, 216, 239); font-size: 18px;">
                  <!---->
                  <!---->
                  <!---->
                </i>
                <span data-v-c4c584b4="">
                    Untuk memastikan keamanan dana Anda, harap ikat rekening bank Anda
                </span>
              </div>


            
                <div data-v-7aa0f84a="" class="box">
                   


<div data-v-7aa0f84a="" class="item">
    <div data-v-7aa0f84a="" class="lab">
        <img data-v-c4c584b4="" src="/assets/png/bank-dfd4584c.png" class="icon">
        <span style="vertical-align: super;">Pilih Bank / E-wallet</span>
    </div>
    <div data-v-7aa0f84a="" class="input">
        <select data-v-7aa0f84a="" class="ipt" style="color:white;">
            <option value="" disabled selected>Pilih Bank atau E-wallet</option>
            <option value="BCA">BCA (Bank Central Asia)</option>
            <option value="Mandiri">Mandiri</option>
            <option value="BRI">BRI</option>
            <option value="BNI">BNI</option>
            <option value="CIMB">CIMB Niaga</option>
            <option value="Danamon">Danamon</option>
            <option value="Permata">Permata</option>
            <option value="BSI">BSI (Syariah Indonesia)</option>
            <option value="SeaBank">SeaBank</option>
            <option value="Bank Jago">Bank Jago</option>
            <option value="Gopay">Gopay</option>
            <option value="OVO">OVO</option>
            <option value="Dana">DANA</option>
            <option value="ShopeePay">ShopeePay</option>
            <option value="LinkAja">LinkAja</option>
            <option value="Flip">Flip</option>
        </select>
    </div>
</div>
                <div data-v-7aa0f84a="" class="item">
                    <div data-v-7aa0f84a="" class="lab"><img data-v-c4c584b4="" src="/assets/png/name-16a41ec0.png" class="icon"><span style="vertical-align: super;">Nama penerima lengkap</span></div>
                    <div data-v-7aa0f84a="" class="input">
                        <input data-v-7aa0f84a="" type="text" placeholder="Silakan masukkan nama penerima"
                            oninput="value=value.replace(/[^a-zA-Z\s+$]/g,'').toUpperCase()" class="ipt" />
                    </div>
                </div>
                <div data-v-7aa0f84a="" class="item">
                    <div data-v-7aa0f84a="" class="lab"><img data-v-c4c584b4="" src="/assets/png/bankCard-c96940f9.png" class="icon"><span style="vertical-align: super;">Nomor rekening & E-wallet</span></div>
                    <div data-v-7aa0f84a="" class="input">
                        <input data-v-7aa0f84a="" type="number" placeholder="Silakan masukkan nomor rekening atau ewalet Anda"
                            oninput="value=value.replace(/[^\d]/g,'')" class="ipt" />
                    </div>
                </div>
                <!---->

                <div data-v-7aa0f84a="" class="item">
                    <div data-v-7aa0f84a="" class="lab"><img data-v-c4c584b4="" src="/assets/png/phone-4209ca46.png" class="icon"><span style="vertical-align: super;">Nomor telepon</span></div>
                    <div data-v-7aa0f84a="" class="input">
                        <input data-v-7aa0f84a="" maxlength="14" type="mob" placeholder="masukkan nomor telepon"
                            class="ipt" />
                    </div>
                </div>

                <div data-v-7aa0f84a="" class="item">
                    <div data-v-7aa0f84a="" class="lab"><img data-v-c4c584b4="" src="/assets/png/ifscCode-7ed53ea1.png" class="icon"><span style="vertical-align: super;">Kode Negara</span></div>
                    <div data-v-7aa0f84a="" class="input">
                        <input data-v-7aa0f84a="" type="text" placeholder="Silakan masukkan kode (+62 indonesia)" class="ipt" />
                    </div>
                </div>
                <div data-v-7aa0f84a="" class="item">
                    <div data-v-7aa0f84a="" class="lab"><img data-v-c4c584b4="" src="/assets/png/bankCard-c96940f9.png" class="icon"><span style="vertical-align: super;">Alamat USDT</span></div>
                    <div data-v-7aa0f84a="" class="input">
                        <input data-v-7aa0f84a="" type="text" placeholder="Isi Alamat USDT atau nama anda jika tidak ada" class="ipt" />
                    </div>
                </div>
               
                

                    
                    
                    <!---->
                </div>

                <div data-v-7aa0f84a="" class="c-row c-row-center m-t-20 bank-btn">
                    <button data-v-7aa0f84a=""
                        class="btn van-button van-button--default van-button--normal van-button--block van-button--round">
                        <div data-v-7aa0f84a="" class="van-button__content">
                            <span data-v-7aa0f84a="" class="van-button__text">
                                Simpan
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div data-v-7692a079="" data-v-7aa0f84a="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet"
                            style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)"
                                style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice"
                                    xlink:href="/index_files/loadingspinner.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)"
                                style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice"
                                    xlink:href="/index_files/h5setting_202401100608011fs2.png"></image>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $('button').click(function (e) {
            e.preventDefault();
            let name_bank = $('.ipt:eq(0)').val().trim();
            let name_user = $('.ipt:eq(1)').val().trim();
            let stk = $('.ipt:eq(2)').val().trim();
            let email = $('.ipt:eq(3)').val().trim();
            let sdt = $('.ipt:eq(4)').val().trim();
           
            let tinh = $('.ipt:eq(5)').val().trim();
            if (name_bank && name_user && stk && email && sdt && tinh) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/addBank",
                    data: {
                        name_bank: name_bank,
                        name_user: name_user,
                        stk: stk,
                        email: email,
                        sdt: sdt,
                       
                        tinh: tinh,
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        alertMess(response.message, $(this));
                        setTimeout(() => {
                            if (response.message) {
                                window.location.href = "/wallet/withdrawal";
                            }
                        }, 1200);
                    }
                });
            } else {
                alertMess('Please enter full information', $(this));
            }
        });
    </script>
</body>

</html>