<div class="van-overlay" style="z-index: 2031; display: none;"></div>
<div data-v-a9660e98="" class="popup-join van-popup van-popup--round van-popup--bottom" style="transform: translateY(400px); max-width: 10rem; left: auto; z-index: 2032;">
  <div data-v-a9660e98="" class="betting-mark colorred">
    <div data-v-a9660e98="" class="head">
      <div data-v-a9660e98="" class="box">
        <div data-v-a9660e98="" class="con">Platinum</div>
        <div data-v-a9660e98="" class="color" style="color: rgb(109, 167, 244);">Memilih<span data-v-a9660e98="" class="p-l-10">Red</span></div>
      </div>
    </div>
    <div data-v-a9660e98="" class="info">
      <div data-v-a9660e98="" class="item c-row c-row-between">
        <div data-v-a9660e98="" class="tit">Jumlah</div>
        <div data-v-a9660e98="" class="c-row amount-box" data-money="500">
          <div data-x="500" data-v-a9660e98="" class="li" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">500</div>
          <div data-x="1000" data-v-a9660e98="" class="li" style="background-color: rgb(255, 200, 0); color: rgb(0, 0, 0);">1000</div>
          <div data-x="10000" data-v-a9660e98="" class="li" style="background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);">10000</div>
          <div data-x="100000" data-v-a9660e98="" class="li" style="background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);">100000</div>
          <div data-x="1000000" data-v-a9660e98="" class="li" style="background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);">1000000</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-row-between">
        <div data-v-a9660e98="" class="tit">Kuantitas</div>
        <div data-v-a9660e98="" class="c-row c-row-between stepper-box">
          <button type="button" data-v-a9660e98="" class="li minus" style="background-color: rgb(200, 200, 200); color: rgb(50, 50, 50);">-</button>
          <div data-v-a9660e98="" class="digit-box van-cell van-field">
            <div class="van-cell__value van-cell__value--alone van-field__value">
              <div class="van-field__body">
                <input type="tel" inputmode="numeric" class="van-field__control" oninput="value=value.replace(/\D/g,'')" value="500">
              </div>
            </div>
          </div>
          <button type="button" data-v-a9660e98="" class="li plus c-row c-row-middle-center" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">+</button>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-flew-end">
        <div data-v-a9660e98="" class="c-row multiple-box">
          <div data-x="1" data-v-a9660e98="" class="li" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">X1</div>
          <div data-x="5" data-v-a9660e98="" class="li" style="background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);">X5</div>
          <div data-x="10" data-v-a9660e98="" class="li" style="background-color: rgb(50, 50, 50); color: rgb(255, 255, 255);">X10</div>
          <div data-x="20" data-v-a9660e98="" class="li" style="background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);">X20</div>
          <div data-x="50" data-v-a9660e98="" class="li" style="background-color: rgb(30, 30, 30); color: rgb(255, 255, 255);">X50</div>
          <div data-x="100" data-v-a9660e98="" class="li" style="background-color: rgb(20, 20, 20); color: rgb(255, 255, 255);">X100</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-row-middle">
        <label data-v-a9660e98="" class="van-checkbox">
          <input type="checkbox" id="checkbox-rules" checked style="display: none;">
          <div class="van-checkbox__icon van-checkbox__icon--square van-checkbox__icon--checked">
            <i class="van-icon van-icon-success" style="border-color: rgb(244, 69, 62); background-color: rgb(244, 69, 62);"></i>
          </div>
          <span class="van-checkbox__label">
            <div data-v-a9660e98="" class="agree p-r-15">Aturan</div>
          </span>
        </label>
        <span data-v-a9660e98="" class="txt">Pre-Selling</span>
      </div>
    </div>
    <div data-v-a9660e98="" class="foot c-row">
      <button type="button" data-v-a9660e98="" class="left" style="background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);">Batal</button>
      <button type="button" data-v-a9660e98="" class="right" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">
        <span data-v-a9660e98="" class="p-r-5">Taruhan kamu</span> Rp<span data-v-a9660e98="">500</span>
      </button>
    </div>
  </div>
</div>
